{
  "presets": [
    ["flow"],
    ["react"],
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": "8",
      }
    }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
  ]
}
