<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Logged In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>You've been logged in!</h1>
    <div id="idp-list"></div>
  </body>
</html>
