<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Logged In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src=<%= htmlWebpackPlugin.options.fontAwesomeUrl%>></script>
  </head>
  <body>
    <div id="app-container"></div>
  </body>
</html>
