body, button, input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11pt;
}

h1 {
  font-weight: normal;
  padding-bottom: 10px;
  text-align: center;
}

p {
  text-align: center;
}

button {
  border: 1px solid grey;
  border-radius: 2px;
  padding: 4px;
  margin-left: 4px;
  cursor: pointer;
}

:focus {
  outline: none;
}

#app-container {
  max-width: 600px;
  margin: auto;
}

.error {
  background-color: #ff8e8e;
  color: #323232;
  padding: 8px;
  border-radius: 2px;
}

.app-name {
  font-weight: bold;
}
